*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.neon{
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}

.text{
    color: white;
    font-size: 128px;
    font-weight: bold;
    user-select: none;
    background: black;
    /* 改变字母大小写 */
    /* text-transform: uppercase; */
}

/* 产生文字光晕效果 描边 */
.text::before{
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(1px);
    mix-blend-mode: difference;
}

/* 渐变色背景 */
.gradient{
    position: absolute;
    background: linear-gradient(45deg,cyan,gold,red,gold,cyan);
    mix-blend-mode: multiply;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* 光影背景 */
.spotlight{
    position: absolute;
    left: -100%;
    top: -100%;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle,white,transparent 25%) center /25% 25%,radial-gradient(circle,white,black 25%) center /12.5% 12.5%;
    mix-blend-mode: color-dodge;
    animation: light 5s linear infinite;
}

@keyframes light{
    to{
        transform: translate(50%,50%);
    }
}